@import '../../styles/variables.scss';

.character-details-container {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
  }

  &__back-button {
    align-self: flex-start;
    margin: var(--space-2) 0;
  }
}
