@import '../../../styles/variables.scss';

.character-list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: var(--space);
  }

  @media only screen and (max-width: 767px) and (orientation: landscape),
    (min-width: 768px) {
    grid-template: 1fr / 50% 50%;
  }

  @media only screen and (min-width: 992px) {
    grid-template: 1fr / 25% 25% 25% 25%;
  }

  @media only screen and (min-width: 1200px) {
    grid-template: 1fr / 20% 20% 20% 20% 20%;
  }
}
