.character-list {
  display: grid;
  // grid-template: 1fr / 1;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: 10px;
  }

  @media only screen and (max-width: 767px) and (orientation: landscape),
    (min-width: 768px) {
    grid-template: 1fr / repeat(2, 50%);
  }

  @media only screen and (min-width: 992px) {
    grid-template: 1fr / repeat(4, 25%);
  }

  @media only screen and (min-width: 1200px) {
    grid-template: 1fr / repeat(5, 20%);
  }
}
