@import '../../../styles/variables.scss';

.limit-selector {
  &__wrapper {
    align-items: center;
    display: flex;
    padding: var(--space);
  }

  &__label {
    margin: 0 var(--space);
    white-space: nowrap;
  }
}
